<!doctype html>
<head>
    <!-- add your own style.css if desired --> 
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- use local d3 lib if desired --> 
    <!-- <script src="/static/d3.js"></script> -->
    <script src="https://d3js.org/d3.v4.min.js"></script> 

    <title>Manual Image Labeling</title>
</head>
<body>
    <h1>Image Classification</h1>
    <p><b>Current key bindings (hard-coded):</b></p>
    <p>"j": "top1"</p>
    <p>"k": "top5"</p>
    <p>"l": "None"</p>
    <script src="/static/app.js"></script>
    <div class="container" id="container"></div>
</body>
